<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="stylesheet" href="CSS/universal.css">
  <link rel="stylesheet" href="CSS/index.css">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <title>Frontend Mentor | Job Listings</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 --> 
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
</head>
<body>
  <div id="app">
    <div class="header-container">

      <div class="filter-header-container">
        <div class="tags-container">

          <div v-for="tag in tagsToSearch" class="tag-element">
            <span class="tag-element--text">
              {{ tag }}
            </span>

            <button class="tag-element--close-button" @click="deleteTagToTheSearchFilter(tag)">
              <img src="./images/icon-remove.svg" alt="" class="tag-element--close-button--img" >
            </button>
          </div>


        </div>


        <button class="clear-clean" @click="deleteAllSearchFilterTags">
          clear all
        </button>
      </div>
    </div>
    <div class="jobs-container">
      <div v-for="job in jobsListed" :class="{'new-job': job.new }" class="jobs-container--element">
        <div class="lef-job-container">
          <div class="job-image-container">
            <img :src="'.' + job.logo" :alt="job.company + 'logo'" class="company-logo">
          </div>
  
          <div class="job-info-container">
            <div class="job-info-container--company-info">
              <h3 class="company-info--h3">{{ job.company }}</h3>
  
              <ul class="company-properties">
                <li v-if="job.new" class="company-properties--element new">NEW!</li>
                <li v-if="job.featured" class="company-properties--element">featured</li>
              </ul>
            </div>
  
            <div class="job-info-container--job-title">
              <h1 class="job-title">{{ job.position }}</h1>
            </div>
  
            <div class="job-info-container--job-details">
              <ul class="job-details">
                <li class="job-details--element">{{ job.postedAt }}</li>
                <li class="job-details--element">{{ job.contract }}</li>
                <li class="job-details--element">{{ job.location }}</li>
              </ul>
            </div>
          </div>
  
        </div>
        
        <ul class="job-requisites">
          <li class="job-requisites--element" @click="addTagSearchFilter(`${job.role}`)">{{ job.role }}</li>
          <li class="job-requisites--element" @click="addTagSearchFilter(`${job.level}`)">{{ job.level }}</li>
          <li v-for="language in job.languages" class="job-requisites--element" @click="addTagSearchFilter(`${language}`)">{{ language }}</li>
          <li v-for="tool in job.tools" class="job-requisites--element" @click="addTagSearchFilter(`${tool}`)">{{ tool }}</li>
        </ul>
      </div>
    </div>
  </div>
  <script src="./JS/index.js"></script>
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="https://github.com/EufranioDiogo">Eufránio Diogo</a>.
  </div>
</body>
</html>